.home__nav {
  background-color: #1a1053;
  color: white;
  height: 100%;
  width: 14%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  z-index: 5;
}

.nav__title {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
}

.nav__date {
  position: relative;
  top: 55px;
  display: flex;
  justify-content: center;
}

.nav__city {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}

.nav__lists {
  position: relative;
  top: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
  font-size: 17px;
  cursor: pointer;
  z-index: 10;
}

/* .nav__list:hover {
  background-color: #f1f3fb;
  opacity: 0.4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
  color: #040317;
} */

.nav__list:active,
.nav__list:visited {
  background-color: #f1f3fb;
}

.nav__icon {
  font-size: 28px;
  color: #f1f3fb;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
}

.nav__icon:nth-child(n + 2) {
  position: relative;
  left: 50%;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

/* .Overlay {
  background-color: #f1f3fb;
  opacity: 0.5;
  top: 265px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  position: absolute;
  display: none;
  z-index: 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #1a1053;
}

.Overlay.Show {
  display: block;
} */
